<!DOCTYPE html>
<html>

<head>
    <title>AlchemyLanguage | IBM Watson Developer Cloud</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/service-icon.svg" />
    <meta property="og:title" content="AlchemyLanguage demo" />
    <meta property="og:description" content="AlchemyLanguage is a collection of APIs that offer text analysis through natural language processing. This set of APIs can analyze text to help you understand its concepts, entities, keywords, sentiment, and more."
    />
    <meta name="ct" content="<$= locals.ct $>">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- top level heading -->
    <header class="_demo--heading">
        <div class="_demo--container">
            <a class="wordmark" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/" target="_blank">
                <span class="wordmark--left">IBM</span>
                <span class="wordmark--right">Watson Developer Cloud</span>
            </a>
            <nav class="heading-nav" role="menubar">
                <li class="base--li heading-nav--li" role="presentation">
                    <a class="heading-nav--item" href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/services-catalog.html" target="_blank" role="menuitem">
                    	Services
					</a>
                </li>
                <li class="base--li heading-nav--li" role="presentation">
                    <a class="heading-nav--item" href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/" target="_blank" role="menuitem">
						Docs
					</a>
                </li>
                <li class="base--li heading-nav--li" role="presentation">
                    <a class="heading-nav--item" href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/starter-kits.html" target="_blank" role="menuitem">
						Starter Kits
					</a>
                </li>
                <li class="base--li heading-nav--li" role="presentation">
                    <a class="heading-nav--item" href="https://developer.ibm.com/watson/" target="_blank" role="menuitem">
                        Community
                    </a>
                </li>
            </nav>
        </div>
    </header>
    <div class="_demo--banner banner">
        <div class="_demo--container">
            <div class="banner--service-container">
                <div class="banner--service-icon-container">
                    <img class="banner--service-icon" src="images/service-icon.svg" alt="AlchemyLanguage">
                </div>
                <div class="banner--service-info">
                    <h1 class="banner--service-title base--h1">
                      <img class="banner--service-icon_INLINE" src="images/service-icon.svg" alt="AlchemyLanguage">
                           AlchemyLanguage
                  </h1>
                    <div class="banner--service-description">
                        AlchemyLanguage is a collection of APIs that offer text analysis through natural language processing. This set of APIs can analyze text to help you understand its concepts, entities, keywords, sentiment, and more. Additionally, you can create a custom
                        model for some APIs to get specific results that are tailored to your domain. </div>
                </div>
            </div>
            <div class="banner--service-resource-container">
                <div class="banner--row">
                    <div class="banner--service-resource">
                        <span class="icon icon-link"></span>
                        <strong>Resources:</strong>
                    </div>
                </div>
                <div class="banner--row">
                    <div class="banner--service-links">
                        <li class="base--li banner--service-link-item">
                            <a href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/alchemy-language/api/v1/" class="base--a" target="_blank">API Reference</a>
                        </li>
                        <li class="base--li banner--service-link-item">
                            <a href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/alchemy-language.html" class="base--a" target="_blank">Documentation</a>
                        </li>
                        <li class="base--li banner--service-link-item">
                            <a href="https://github.com/watson-developer-cloud/alchemylanguage-nodejs" class="base--a" target="_blank">Fork on Github</a>
                        </li>
                        <li class="base--li banner--service-link-item">
                            <a href="https://bluemix.net/deploy?repository=https://github.com/watson-developer-cloud/alchemylanguage-nodejs" class="base--a" target="_blank">Deploy on Bluemix</a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- demo body -->


    <div class="_demo--container">
        <article class="_content base--article">
            <h2 class="base--h2">Choose a model</h2>
            <p class="base--p">AlchemyAPI is trained on billions of webpages and can detect and extract information such as concepts, entities, sentiment, and keywords. Alternatively, you can train a <a href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/alchemylanguage/customizing.shtml"
                    class="base--a" target="_blank"> custom model</a> to identify specific entities and typed relations that are unique to your domain or industry, for example law or finance.
                <br>

                <div>
                    <h2 class="base--p choose-header">Choose which model to try:
            </h2>

                    <label for="standard">
                        <input type="radio" value="ac" checked="1" name="ac" id="standard"> <span class="options">Public Model</span>
                    </label>

                    <label for="custom">
                        <input type="radio" value="ac" name="ac" class="model" id="custom"> <span class="options">Custom Model (Traffic Incident Report)</span>
                        <input class="int-hide" id="model" type="text" value="en-us-tir">
                    </label>

                    <div class="base--p standard-desc">
                        The default <a href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/alchemylanguage/" class="base--a" target="_blank"> public model</a> is trained with English websites and news content.
                    </div>
                    <div class="base--p custom-desc int-hide">
                        The example <a href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/alchemylanguage/customizing.shtml" class="base--a" target="_blank"> custom model</a> is trained on traffic incident reports, and will find
                        specific entities in text such as part of car, accident outcome, or impact instead of merely understanding general entities like automobile. </p>
            </div>
            </div>
            <div class="input-panel">
                <h2 class="base--h2">Analyze Text</h2>
                <p class="base--p">Try the sample content, or paste your own into the text box or URL field.
                </p>
                <div class="tab-panels" role="tabpanel">
                    <ul class="tab-panels--tab-list" role="tablist">
                        <li class="tab-panels--tab-list-item base--li" role="presentation">
                            <a class="tab-panels--tab base--a active redlink text-link" href="#panel1" aria-controls="panel1" role="tab">Body of Text</a>
                        </li>
                        <li class="tab-panels--tab-list-item base--li url-tab" role="presentation">
                            <a class="tab-panels--tab base--a redlink url-link" href="#panel2" aria-controls="panel2" role="tab">URL</a>
                        </li>
                    </ul>
                    <div class="tab-panels--tab-content">
                        <div id="panel1" class="tab-panels--tab-pane active" role="tab-panel">
                            <textarea class="js-input-section--text-area base--textarea input--text" style="height: 270px">In 2009, Elliot Turner launched AlchemyAPI to process the written word, with all of its quirks and nuances, and got immediate traction. That first month, the company's eponymous language-analysis API processed 500,000 transactions. Today it's processing three billion transactions a month, or about 1,200 a second. “That's a growth rate of 6,000 times over three years,” touts Turner. “Context is super-important,” he adds. “'I'm dying' is a lot different than 'I'm dying to buy the new iPhone.'” “As we move into new markets, we're going to be making some new hires," Turner says. "We knocked down some walls and added 2,000 square feet to our office.” “We're providing the ability to translate human language in the form of web pages and documents into actionable data,” Turner says. Clients include Walmart, PR Newswire and numerous publishers and advertising networks. “This allows a news organization to detect what a person likes to read about,” says Turner of publishers and advertisers.</textarea>
                        </div>

                        <div id="panel2" class="tab-panels--tab-pane " role="tab-panel">
                            <textarea class="base--textarea input--URL" rows="1" value="">http://confluence-denver.com/innovationnews/alchemyapi_booming.aspx</textarea>
                        </div>
                    </div>
                    <span class="icon-hyperlink">
                <span class="icon icon-reset"></span>
                    <button name="results" class="base--a reset icon-hyperlink--button" type="reset">
                        Reset
                    </button>
                    </span>
                </div>

                <button id="submitbutton-tr" name="results" class="base--button_submit int-hide" style="float:right;">Analyze</button>
                <button id="submitbutton" name="results" class="base--button_submit" style="float:right;">Analyze</button>
            </div>
        </article>
    </div>
    <div ng-if="rnrController.retrieved" style="margin-top: 0;" class="ng-scope">
        <div class="output">

            <div class="_demo--container results--container">

                <div class="loading" style="display: none;">
                    <div class="loading--icon">
                        <img class="loading-gif" src="images/loading-indicator.gif" width="100%" alt="">
                    </div>
                </div>
                <div class="error" style="display: none;">
                    <p class="error--message">Error!</p>
                </div>
                <div id="results" class="container result-container">
                    <h2 class="base--h2">Results</h2>

                    <div class="left-box">
                        <div id="t1" target="5" class="ml-item ml-item-active">
                            Entities
                        </div>
                        <div id="t3" target="7" class="ml-item">
                            Keywords
                        </div>
                        <div id="t4" target="2" class="ml-item">
                            Concepts
                        </div>
                        <div id="t5" target="11" class="ml-item">
                            Taxonomy
                        </div>
                        <div id="t6" target="3" class="ml-item">
                            Document Emotion
                        </div>
                        <div id="t35" target="15" class="ml-item">
                            Targeted Emotion
                        </div>
                        <div id="t7" target="4" class="ml-item">
                            Document Sentiment
                        </div>
                        <div id="t8" target="10" class="ml-item">
                            Targeted Sentiment
                        </div>
                        <div id="t2" target="20" class="ml-item">
                            Typed Relations
                        </div>
                        <div id="t9" target="9" class="ml-item">
                            Relations
                        </div>
                        <div id="t10" target="13" class="ml-item">
                            Title
                        </div>
                        <div id="t11" target="1" class="ml-item">
                            Authors
                        </div>
                        <div id="t12" target="14" class="ml-item">
                            Publication Date
                        </div>
                        <div id="t13" target="8" class="ml-item">
                            Language
                        </div>
                        <div id="t14" target="12" class="ml-item">
                            Text Extraction
                        </div>
                        <div id="t15" target="6" class="ml-item">
                            Feeds
                        </div>
                    </div>

                    <div class="results-frame">
                        <div id="div1" class="1-result int-hide">

                            <h3 class="base--h3">Authors</h3>
                            <p class="output-header-tagline">
                                Extracts the author information from news articles or blog posts.
                            </p>

                            <div class="btn-all-container">
                                <div class="base--p right-float"><span class="icon">
                                  <span class="icon icon-code"></span>
                                    <span class="base--a json-btn" target="39" href="">View JSON</span>
                                </div>
                            </div>
                            <div id="json39" class="input--API base--code int-hide">
                                <pre class="API--json">
                                <code id="authors-API-data" class="language-javascript ">
                                </code>
                              </pre>
                            </div>

                            <table class="base--table">
                                <thead class="base--thead">
                                    <tr class="base--tr">
                                        <td class="base--td">Author</td>
                                        <td class="base--td"> </td>
                                    </tr>
                                </thead>
                                <tbody class="base--tbody authors-table">

                                </tbody>
                            </table>

                        </div>

                        <div id="div2" class="1-result int-hide">
                            <h3 class="base--h3">Concept</h3>
                            <p class="output-header-tagline">
                                Identifies general concepts that aren’t necessarily directly referenced in the text. For example, analysis of an article about BMW, Audi, and Porsche is likely to return the "Automotive industry" concept. </p>
                            <div class="btn-all-container">
                                <div class="base--p right-float"><span class="icon icon-code"></span>
                                    <span class="base--a json-btn" target="40" href="">View JSON</span>
                                </div>
                            </div>
                            <div id="json40" class="input--API base--code int-hide">
                                <pre class="API--json">
                                <code id="concept-API-data" class="language-javascript ">
                                </code>
                              </pre>
                            </div>
                            <table class="base--table">
                                <thead class="base--thead">
                                    <tr class="base--tr">
                                        <td class="base--td">Concept</td>
                                        <td class="base--td">Relevance</td>
                                        <td class="base--td">Evidence</td>
                                    </tr>
                                </thead>
                                <tbody class="base--tbody concepts-table">

                                </tbody>
                            </table>
                        </div>

                        <div id="div3" class="1-result int-hide">
                            <h3 class="base--h3">Document Emotion</h3>
                            <p class="output-header-tagline">
                                Analyzes the emotions in the entire document or webpage.
                            </p>
                            <div class="btn-all-container">
                                <div class="base--p right-float"><span class="icon icon-code"></span>
                                    <span class="base--a json-btn" target="49" href="">View JSON</span>
                                </div>
                            </div>
                            <div id="json49" class="input--API base--code int-hide">
                                <pre class="API--json">
                                    <code id="emotion-API-data" class="language-javascript ">
                                    </code>
                                  </pre>
                            </div>
                            <table class="base--table">
                                <thead class="base--thead">
                                    <tr class="base--tr">
                                        <td class="base--td">Emotion</td>
                                        <td class="base--td">Score</td>
                                    </tr>
                                </thead>
                                <tbody class="base--tbody emotion-table">

                                </tbody>
                            </table>

                        </div>

                        <div id="div15" class="1-result int-hide">
                            <h3 class="base--h3">Targeted Emotion</h3>
                            <p class="output-header-tagline">
                                Extracts emotions targeted towards a specific "target phrase".
                            </p>
                            <div class="btn-all-container">
                                <div class="base--p right-float"><span class="icon icon-code"></span>
                                    <span class="base--a json-btn" target="56" href="">View JSON</span>
                                </div>
                            </div>
                            <div id="json56" class="input--API base--code int-hide">
                                <pre class="API--json">
                                    <code id="targeted-emotion-API-data" class="language-javascript ">
                                    </code>
                                  </pre>
                            </div>
                            <table class="base--table">
                                <div class="base--tbody targetedemotion-table">

                                </div>
                            </table>

                            <div class="btn-all-container">
                                <div class="btn-all-results-targetedemotion arrowdown-main btn-results" href="#">View all results</div>

                            </div>

                        </div>

                        <div id="div4" class="1-result int-hide">
                            <h3 class="base--h3">Document Sentiment</h3>
                            <p class="output-header-tagline">
                                Identifies the overall positive or negative sentiment within any document or webpage.
                            </p>
                            <div class="btn-all-container">
                                <div class="base--p right-float"><span class="icon icon-code"></span>
                                    <span class="base--a json-btn" target="50" href="">View JSON</span>
                                </div>
                            </div>
                            <div id="json50" class="input--API base--code int-hide">
                                <pre class="API--json">
                                    <code id="sentiment-API-data" class="language-javascript ">
                                    </code>
                                  </pre>
                            </div>
                            <table class="base--table">
                                <thead class="base--thead">
                                    <tr class="base--tr">
                                        <td class="base--td">Sentiment</td>
                                        <td class="base--td">Score</td>
                                    </tr>
                                </thead>
                                <tbody class="base--tbody sentiment-table">
                                </tbody>
                            </table>

                        </div>


                        <div id="div20" class="1-result int-hide">
                            <h3 class="base--h3">Typed Relations</h3>
                            <p class="output-header-tagline">Identifies different types of relations between detected entities, including user-defined relations from custom models that you can create with Watson Knowledge Studio. For example, the entities "Nobel Prize" and "Albert Einstein"
                                may be linked by an "awardedTo" relation.</p>
                            <div class="btn-all-container">
                                <div class="base--p right-float"><span class="icon icon-code"></span>
                                    <span class="base--a json-btn" target="52" href="">View JSON</span>
                                </div>
                            </div>
                            <div id="json52" class="input--API base--code int-hide">
                                <pre class="API--json">
                                <code id="typedrelations-API-data" class="language-javascript ">
                                </code>
                              </pre>
                            </div>
                            <div class="typedrelations-table">
                            </div>


                            <div class="btn-all-container">

                                <div class="btn-all-results-typedrelations arrowdown-main btn-results" href="#">View all results</div>

                            </div>
                        </div>

                        <div id="div5" class="1-result result--author">
                            <h3 class="base--h3">Entities</h3>
                            <p class="output-header-tagline">
                                Extracts people, companies, organizations, cities, geographic features, and other entities from your content, and optionally detects the sentiment of each entity.
                            </p>
                            <div class="btn-all-container">
                                <div class="base--p right-float"><span class="icon icon-code"></span>
                                    <span class="base--a json-btn" target="51" href="">View JSON</span>
                                </div>
                            </div>
                            <div id="json51" class="input--API base--code int-hide">
                                <pre class="API--json">
                                <code id="entities-API-data" class="language-javascript ">
                                </code>
                              </pre>
                            </div>
                            <table class="base--table">
                                <div class="base--tbody entities-table">

                                </div>
                            </table>

                            <div class="btn-all-container">

                                <div class="btn-all-results-entities arrowdown-main btn-results" href="#">View all results</div>

                            </div>
                        </div>

                        <div id="div6" class="1-result int-hide">
                            <h3 class="base--h3">Feeds</h3>
                            <p class="output-header-tagline">
                                Finds RSS and Atom feeds within webpages and returns the links.
                            </p>
                            <div class="btn-all-container">
                                <div class="base--p right-float"><span class="icon icon-code"></span>
                                    <span class="base--a json-btn" target="42" href="">View JSON</span>
                                </div>
                            </div>
                            <div id="json42" class="input--API base--code int-hide">
                                <pre class="API--json">
                                <code id="feeds-API-data" class="language-javascript ">
                                </code>
                              </pre>
                            </div>
                            <table class="base--table">
                                <thead class="base--thead">
                                    <tr class="base--tr">
                                        <td class="base--td">Feeds</td>

                                    </tr>
                                </thead>
                                <tbody class="base--tbody feeds-table">

                                </tbody>
                            </table>
                            <div class="btn-all-container">

                            </div>
                        </div>

                        <div id="div7" class="1-result int-hide">
                            <h3 class="base--h3">Keywords</h3>
                            <p class="output-header-tagline">
                                Determines important keywords in the text, ranks them by relevance, and optionally detects the sentiment of each keyword.
                            </p>
                            <div class="btn-all-container">
                                <div class="base--p right-float"><span class="icon icon-code"></span>
                                    <span class="base--a json-btn" target="43" href="">View JSON</span>
                                </div>
                            </div>
                            <div id="json43" class="input--API base--code int-hide">
                                <pre class="API--json">
                                <code id="keywords-API-data" class="language-javascript ">
                                </code>
                              </pre>
                            </div>

                            <table class="base--table">
                                <div class="base--tbody keywords-table">

                                </div>
                            </table>

                            <div class="btn-all-container">
                                <div class="btn-all-results-keywords arrowdown-main btn-results" href="#">View all results</div>

                            </div>
                        </div>

                        <div id="div8" class="1-result int-hide">
                            <h3 class="base--h3">Language</h3>
                            <p class="output-header-tagline">
                                Identifies the language of the document or webpage.
                            </p>
                            <div class="btn-all-container">
                                <div class="base--p right-float"><span class="icon icon-code"></span>
                                    <span class="base--a json-btn" target="44" href="">View JSON</span>
                                </div>
                            </div>
                            <div id="json44" class="input--API base--code int-hide">
                                <pre class="API--json">
                                <code id="language-API-data" class="language-javascript ">
                                </code>
                              </pre>
                            </div>
                            <table class="base--table">
                                <thead class="base--thead">
                                    <tr class="base--tr">
                                        <td class="base--td">Language</td>
                                        <td class="base--td">Native Speakers</td>
                                        <td class="base--td">Ethnologue</td>
                                        <td class="base--td">Wikipedia</td>
                                    </tr>
                                </thead>
                                <tbody class="base--tbody language-table">

                                </tbody>
                            </table>

                        </div>

                        <div id="div9" class="1-result int-hide">
                            <h3 class="base--h3">Relations</h3>
                            <p class="output-header-tagline">
                                Parses sentences into subject, action, and object form and returns additional semantic information such as keywords, entities, sentiment, and verb normalization.
                            </p>
                            <div class="btn-all-container">
                                <div class="base--p right-float"><span class="icon icon-code"></span>
                                    <span class="base--a json-btn" target="41" href="">View JSON</span>
                                </div>
                            </div>
                            <div id="json41" class="input--API base--code int-hide">
                                <pre class="API--json">
                                <code id="relations-API-data" class="language-javascript ">
                                </code>
                              </pre>
                            </div>
                            <div class="container-relations relations-table">
                            </div>
                            <div class="btn-all-container">
                                <div class="btn-all-results-relations arrowdown-main btn-results" href="#">View all results</div>

                            </div>
                        </div>

                        <div id="div10" class="1-result int-hide">
                            <h3 class="base--h3">Targeted Sentiment</h3>
                            <p class="output-header-tagline">
                                Analyzes the sentiment of user-specified phrases from the document or webpage.
                            </p>
                            <div class="btn-all-container">
                                <div class="base--p right-float">
                                    <span class="icon icon-code"></span>
                                    <span class="base--a json-btn" target="54" href="">View JSON</span>
                                </div>
                            </div>
                            <div id="json54" class="input--API base--code int-hide">
                                <pre class="API--json">
                                <code id="targetedsentiment-API-data" class="language-javascript ">
                                </code>
                              </pre>
                            </div>
                            <table class="base--table">
                                <thead class="base--thead">
                                    <tr class="base--tr">
                                        <td class="base--td">Target</td>
                                        <td class="base--td">Type</td>
                                        <td class="base--td">Sentiment</td>
                                    </tr>
                                </thead>
                                <tbody class="base--tbody targetedsentiment-table">

                                </tbody>
                            </table>

                            <div class="btn-all-container">
                                <div class="btn-all-results-targetsentiment arrowdown-main btn-results" href="#">View all results</div>

                            </div>
                        </div>

                        <div id="div11" class="1-result int-hide">
                            <h3 class="base--h3">Taxonomy</h3>
                            <p class="output-header-tagline">
                                Classifies your content into a hierarchy of categories that's five levels deep.
                            </p>
                            <div class="btn-all-container">
                                <div class="base--p right-float"><span class="icon icon-code"></span>
                                    <span class="base--a json-btn" target="45" href="">View JSON</span>
                                </div>
                            </div>
                            <div id="json45" class="input--API base--code int-hide">
                                <pre class="API--json">
                                <code id="taxonomy-API-data" class="language-javascript ">
                                </code>
                              </pre>
                            </div>
                            <table class="base--table">
                                <thead class="base--thead">
                                    <tr class="base--tr">
                                        <td class="base--td">Label</td>
                                        <td class="base--td">Score</td>
                                        <td class="base--td">Confident?</td>
                                    </tr>
                                </thead>
                                <tbody class="base--tbody taxonomy-table">

                                </tbody>
                            </table>

                        </div>

                        <div id="div12" class="1-result int-hide">
                            <h3 class="base--h3">Text Extraction</h3>
                            <p class="output-header-tagline">
                                Extracts the important information from a webpage, removing navigation links, advertisements, and other undesired content.</p>
                            <div class="btn-all-container">
                                <div class="base--p right-float"><span class="icon icon-code"></span>
                                    <span class="base--a json-btn" target="46" href="">View JSON</span>
                                </div>
                            </div>
                            <div id="json46" class="input--API base--code int-hide">
                                <pre class="API--json">
                                    <code id="text-API-data" class="language-javascript ">
                                    </code>
                                  </pre>
                            </div>
                            <table class="base--table">
                                <thead class="base--thead">
                                    <tr class="base--tr">

                                        <td class="base--td">Body of text</td>
                                    </tr>
                                </thead>
                                <tbody class="base--tbody text-table">

                                </tbody>
                            </table>

                        </div>

                        <div id="div13" class="1-result int-hide">
                            <h3 class="base--h3">Title</h3>
                            <p class="output-header-tagline">
                                Extracts the page title from a webpage or HTML document.
                            </p>
                            <div class="btn-all-container">
                                <div class="base--p right-float"><span class="icon icon-code"></span>
                                    <span class="base--a json-btn" target="47" href="">View JSON</span>
                                </div>
                            </div>
                            <div id="json47" class="input--API base--code int-hide">
                                <pre class="API--json">
                                <code id="title-API-data" class="language-javascript ">
                                </code>
                              </pre>
                            </div>

                            <table class="base--table">
                                <thead class="base--thead">
                                    <tr class="base--tr">
                                        <td class="base--td">Title</td>
                                    </tr>
                                </thead>
                                <tbody class="base--tbody title-table">
                                </tbody>
                            </table>
                        </div>

                        <div id="div14" class="1-result int-hide">
                            <h3 class="base--h3">Publication Date</h3>
                            <p class="output-header-tagline">
                                Extracts the publication date from a webpage or HTML document. </p>
                            <div class="btn-all-container">
                                <div class="base--p right-float">
                                    <span class="icon icon-code"></span>
                                    <span class="base--a json-btn" target="48" href="">View JSON</span>
                                </div>
                            </div>
                            <div id="json48" class="input--API base--code int-hide">
                                <pre class="API--json">
                                    <code id="date-API-data" class="language-javascript ">
                                    </code>
                                  </pre>
                            </div>

                            <table class="base--table">
                                <thead class="base--thead">
                                    <tr class="base--tr">
                                        <td class="base--td">Date</td>
                                    </tr>
                                </thead>
                                <tbody class="base--tbody date-table">

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <div class="_demo--banner bottom-banner">
            <div class="footer-banner">
                <div class="_demo--container footer-container">
                    <div class="footer-title">Next Up: Build your own app</div>
                    <div class="footer-tagline">Use AlchemyLanguage to get started.</div>
                    <a href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/alchemy-language/api/v1/" target="_blank" class="bottom-links">API Reference</a>
                    <a href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/alchemy-language.html" target="_blank" class="bottom-links">Documentation</a>
                    <a href="https://github.com/watson-developer-cloud/alchemylanguage-nodejs" target="_blank" class="bottom-links">Fork on Github</a>
                    <a href="https://bluemix.net/deploy?repository=https://github.com/watson-developer-cloud/alchemylanguage-nodejs" target="_blank" class="bottom-links">Deploy on Bluemix</a></div>
            </div>
        </div>

        <script type="text/html" id="typedRelationsTemplate">
            <% _.each(items, function(item, key, list) { %>
                <table class="base--table typedrelations resultscontainter">

                    <thead class="base--thead">
                        <tr class="base--tr">
                            <td class="base--td">Sentence</td>
                            <td class="base--td">Score</td>
                            <td class="base--td">Type</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="base--td">
                                <%=item.sentence %>
                            </td>
                            <td class="base--td">
                                <%=item.score %>
                            </td>
                            <td class="base--td">
                                <%=item.type %>
                            </td>
                        </tr>
                    </tbody>
                    <% if(item.arguments && item.arguments.length > 0){ %>

                        <thead class="base--thead base--thead nested-relations">
                            <tr class="base--tr">
                                <td class="base--td">Argument Text</td>
                                <td class="base--td">Part</td>
                                <td class="base--td"></td>
                            </tr>
                        </thead>
                        <% _.each(item.arguments, function(arguments, key, list) { %>

                            <tr>
                                <td class="base--td">
                                    <%=arguments.text  %>
                                </td>

                                <td class="base--td">
                                    <%=arguments.part %>
                                </td>
                                <td class="base--td"></td>
                            </tr>

                            <% }); %>


                                <thead class="base--thead">
                                    <tr>
                                        <td class="base--td base--thead nested-relations">Entities from Arguments</td>
                                        <td class="base--td base--thead nested-relations">Type</td>
                                        <td class="base--td base--thead nested-relations"></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% _.each(item.arguments, function(arguments, key, list) { %>
                                        <% _.each(arguments.entities, function(entity, key, list) { %>
                                            <tr>

                                                <td class="base--td">
                                                    <%=entity.text %>
                                                </td>
                                                <td colspan="2" class="base--td">
                                                    <%=entity.type %>
                                                </td>

                                            </tr>
                                            <% }); %>
                                                <% }); %>

                                                    <% } %>
                                </tbody>


                </table>

                <% }); %>

        </script>

        <script type="text/html" id="entitiesTemplate">
          <% _.each(items, function(item, key, list) { %>
        <table class="base--table entities resultscontainter">
          <thead class="base--thead" style="border-bottom: 0;">
              <tr class="base--tr">
                  <td class="base--td">Entity</td>
                  <td class="base--td"><% if(item.relevance){ %>	Relevance <% } %></td>
                  <td class="base--td">	Sentiment	</td>
                  <td class="base--td">	Type	</td>
              </tr>
          </thead>
                    <tbody>
                    <tr class="base--tr">
                        <td class="base--td">
                            <%= item.text %>
                        </td>
                        <td class="base--td">
                          <% if(item.relevance){ %>
                            <%= item.relevance %>
                              <% } %>
                        </td>
                        <td class="base--td">
                            <%= item.sentiment.type %>
                        </td>
                        <td class="base--td">
                            <%= item.type %>
                        </td>
                    </tr>
                    </tbody>
                    <% if(item.emotions){ %>
                    <thead class="base--thead nested-relations">
                        <tr class="base--tr">
                            <td class="base--td">Emotion</td>
                            <td  colspan="3" class="base--td">Score</td>
                        </tr>
                    </thead>
                    <% } %>
                            <tbody>
                              <% if(item.emotions){ %>
                              <tr class="base--tr">
                                  <td class="base--td">Anger</td>
                                  <td  colspan="3" class="base--td">
                                      <%= item.emotions.anger %>
                                  </td>
                              </tr>
                              <% } %>
                              <% if(item.emotions){ %>
                              <tr class="base--tr">
                                  <td class="base--td">Disgust</td>
                                  <td colspan="3" class="base--td">
                                      <%= item.emotions.disgust %>
                                  </td>
                              </tr>
                              <% } %>
                              <% if(item.emotions){ %>
                              <tr class="base--tr">
                                  <td class="base--td">Fear</td>
                                  <td colspan="3" class="base--td">
                                      <%= item.emotions.fear %>
                                  </td>
                              </tr>
                              <% } %>
                              <% if(item.emotions){ %>
                              <tr class="base--tr">
                                  <td class="base--td">Joy</td>
                                  <td colspan="3" class="base--td">
                                      <%= item.emotions.joy %>
                                  </td>
                              </tr>
                              <% } %>
                              <% if(item.emotions){ %>
                              <tr class="base--tr">
                                  <td class="base--td">Sadness</td>
                                  <td colspan="3" class="base--td">
                                      <%= item.emotions.sadness %>
                                  </td>
                              </tr>
                              <% } %>
                                </tbody>
                </table>

        <% }); %>
            </script>


        <script type="text/html" id="targetedemotionTemplate">
<% _.each(items, function(item, key, list) { %>
<table class="base--table targetedemotion resultscontainter">

                    <thead class="base--thead" style="border-bottom: 0;">
                        <tr class="base--tr">
                            <td class="base--td">Target Phrase</td>
                            <td class="base--td"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="base--td">
                                <%= item.text %>
                            </td>
                            <td class="base--td"></td>
                        </tr>
                    </tbody>
                        <thead class="base--thead base--thead nested-relations">
                            <tr class="base--tr">
                                <td class="base--td">Emotion</td>
                                <td class="base--td">Score</td>
                            </tr>
                        </thead>
                            <tbody>
                              <tr class="base--tr">
                                  <td class="base--td">Anger</td>
                                  <td class="base--td">
                                      <%= item.emotions.anger %>
                                  </td>
                              </tr>
                              <tr class="base--tr">
                                  <td class="base--td">Disgust</td>
                                  <td class="base--td">
                                      <%= item.emotions.disgust %>
                                  </td>
                              </tr>
                              <tr class="base--tr">
                                  <td class="base--td">Fear</td>
                                  <td class="base--td">
                                      <%= item.emotions.fear %>
                                  </td>
                              </tr>
                              <tr class="base--tr">
                                  <td class="base--td">Joy</td>
                                  <td class="base--td">
                                      <%= item.emotions.joy %>
                                  </td>
                              </tr>
                              <tr class="base--tr">
                                  <td class="base--td">Sadness</td>
                                  <td class="base--td">
                                      <%= item.emotions.sadness %>
                                  </td>
                              </tr>
                                </tbody>
                </table>

<% }); %>
        </script>

        <script type="text/html" id="emotionTemplate">

            <tr class="base--tr">
                <td class="base--td">Anger</td>
                <td class="base--td">
                    <%= items.anger %>
                </td>
            </tr>
            <tr class="base--tr">
                <td class="base--td">Disgust</td>
                <td class="base--td">
                    <%= items.disgust %>
                </td>
            </tr>
            <tr class="base--tr">
                <td class="base--td">Fear</td>
                <td class="base--td">
                    <%= items.fear %>
                </td>
            </tr>
            <tr class="base--tr">
                <td class="base--td">Joy</td>
                <td class="base--td">
                    <%= items.joy %>
                </td>
            </tr>
            <tr class="base--tr">
                <td class="base--td">Sadness</td>
                <td class="base--td">
                    <%= items.sadness %>
                </td>
            </tr>

        </script>

        <script type="text/html" id="sentimentTemplate">

            <tr class="base--tr">
                <td class="base--td">
                    <%= items.type %>
                </td>
                <td class="base--td">
                    <%= items.score %>
                </td>
            </tr>

        </script>

        <script type="text/html" id="keywordsTemplate">
          <% _.each(items, function(item, key, list) { %>
        <table class="base--table keywords resultscontainter">
          <thead class="base--thead" style="border-bottom: 0;">
              <tr class="base--tr">
                  <td class="base--td">Keywords</td>
                  <td class="base--td">Relevance</td>
                  <td class="base--td">Sentiment</td>
                  <td class="base--td"></td>
              </tr>
          </thead>
                    <tbody>
                    <tr class="base--tr">
                        <td class="base--td">
                            <%= item.text %>
                        </td>
                        <td class="base--td">
                            <%= item.relevance %>
                        </td>
                        <td class="base--td">
                            <%= item.sentiment.type %>
                        </td>
                        <td class="base--td"></td>
                    </tr>
                    </tbody>
                    <% if(item.emotions){ %>
                    <thead class="base--thead nested-relations">
                        <tr class="base--tr">
                            <td class="base--td">Emotion</td>
                            <td  colspan="3" class="base--td">Score</td>
                        </tr>
                    </thead>
                    <% } %>
                            <tbody>
                              <% if(item.emotions){ %>
                              <tr class="base--tr">
                                  <td class="base--td">Anger</td>
                                  <td  colspan="3" class="base--td">
                                      <%= item.emotions.anger %>
                                  </td>
                              </tr>
                              <% } %>
                              <% if(item.emotions){ %>
                              <tr class="base--tr">
                                  <td class="base--td">Disgust</td>
                                  <td colspan="3" class="base--td">
                                      <%= item.emotions.disgust %>
                                  </td>
                              </tr>
                              <% } %>
                              <% if(item.emotions){ %>
                              <tr class="base--tr">
                                  <td class="base--td">Fear</td>
                                  <td colspan="3" class="base--td">
                                      <%= item.emotions.fear %>
                                  </td>
                              </tr>
                              <% } %>
                              <% if(item.emotions){ %>
                              <tr class="base--tr">
                                  <td class="base--td">Joy</td>
                                  <td colspan="3" class="base--td">
                                      <%= item.emotions.joy %>
                                  </td>
                              </tr>
                              <% } %>
                              <% if(item.emotions){ %>
                              <tr class="base--tr">
                                  <td class="base--td">Sadness</td>
                                  <td colspan="3" class="base--td">
                                      <%= item.emotions.sadness %>
                                  </td>
                              </tr>
                              <% } %>
                                </tbody>
                </table>

        <% }); %>
            </script>

        <script type="text/html" id="titleTemplate">

            <tr class="base--tr">
                <td class="base--td">
                    <%= items.title %>
                </td>
            </tr>

        </script>

        <script type="text/html" id="taxonomyTemplate">
            <% _.each(items, function(item, key, list) { %>
                <tr class="base--tr">
                    <td class="base--td">
                        <%= item.label %>
                    </td>
                    <td class="base--td">
                        <%= item.score %>
                    </td>
                    <td class="base--td">
                        <%= item.confident %>
                    </td>
                </tr>
                <% }); %>
        </script>

        <script type="text/html" id="feedsTemplate">

            <% _.each(items, function(item, key, list) { %>
                <tr class="base--tr">
                    <td class="base--td">
                        <a class="base--a" href="<%= item.feed %>">
                            <%= item.feed %>
                        </a>
                    </td>
                </tr>
                <% }); %>

        </script>

        <script type="text/html" id="conceptsTemplate">
            <% _.each(items, function(item, key, list) { %>
                <tr class="base--tr concepts">
                    <td class="base--td">
                        <%= item.text %>
                    </td>
                    <td class="base--td">
                        <%= item.relevance %>
                    </td>
                    <td class="base--td">
                        <% if(item.dbpedia){ %>
                            <a class="base--a" href="<%= item.dbpedia %>">dbpedia</a>
                            <% } %>
                                <% if(item.freebase){ %>
                                    <br><a class="base--a" href="<%= item.freebase %>">freebase</a>
                                    <% } %>
                                        <% if(item.yago){ %>
                                            <br> <a class="base--a" href="<%= item.yago %>">yago</a>
                                            <% } %>
                    </td>
                </tr>
                <% }); %>
        </script>

        <script type="text/html" id="relationsTemplate">
            <% _.each(items, function(item, key, list) { %>
                <div class="element-relations">
                    <div class="header-relations arrowup">
                        <%= item.sentence %>
                    </div>
                    <div class="content-relations">
                        <h3 class="base--h3 relations-headline">Extracted Sentence</h3>
                        <p class="output-header-tagline">
                            <%= item.sentence %>
                        </p>
                        <h3 class="base--h3 relations-headline">Parts of Speech</h3>
                        <table class="base--table nested-relations">
                            <thead class="base--thead">
                                <tr class="base--tr">
                                    <td class="base--td">Text</td>
                                    <td class="base--td">Speech Part</td>
                                    <td class="base--td">Sentiment</td>
                                    <td class="base--td">Keywords</td>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(item.subject){ %>
                                    <tr class="base--tr">
                                        <td class="base--td">
                                            <%= item.subject.text %>
                                        </td>
                                        <td class="base--td">
                                            subject
                                        </td>

                                        <td class="base--td">
                                            <% if(item.subject.sentiment){ %>
                                                <%= item.subject.sentiment.type %>
                                                    <% } %>
                                        </td>
                                        <td class="base--td">
                                            <% _.each(item.subject.keywords, function(keyword, key, list) { %>
                                                <%= keyword.text %>
                                                    <br>
                                                    <% }); %>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% if(item.action.verb){ %>
                                            <tr class="base--tr">
                                                <td class="base--td">
                                                    <%= item.action.verb.text %>
                                                </td>
                                                <td class="base--td">
                                                    verb
                                                </td>

                                                <td class="base--td">
                                                    <% if(item.action.sentiment){ %>
                                                        <%= item.action.sentiment.type %>
                                                            <% } %>
                                                </td>
                                                <td class="base--td">
                                                    <% _.each(item.action.keywords, function(keyword, key, list) { %>
                                                        <%= keyword.text %>
                                                            <br>
                                                            <% }); %>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <% if(item.object){ %>
                                                    <% if(item.object.entities){ %>
                                                        <tr class="base--tr">
                                                            <td class="base--td">
                                                                <% _.each(item.object.entities, function(entity, key, list) { %>
                                                                    <%= entity.text %>
                                                                        <% }); %>
                                                            </td>
                                                            <td class="base--td">
                                                                object
                                                            </td>

                                                            <td class="base--td">
                                                                <% if(item.object.sentiment){ %>
                                                                    <%= item.object.sentiment.type %>
                                                                        <% } %>
                                                            </td>
                                                            <td class="base--td">
                                                                <% _.each(item.object.keywords, function(keyword, key, list) { %>
                                                                    <%= keyword.text %>
                                                                        <br>
                                                                        <% }); %>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                            <% } %>
                            </tbody>
                        </table>
                        <% if(item.action.verb){ %>
                            <h3 class="base--h3 relations-headline">Verb Normalization</h3>

                            <table class="base--table nested-relations">
                                <thead class="base--thead">
                                    <tr class="base--tr">
                                        <td class="base--td">Text</td>
                                        <td class="base--td">Lemmatized</td>
                                        <td class="base--td">Verb</td>
                                        <td class="base--td">Tense</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="base--tr">
                                        <td class="base--td">
                                            <%= item.action.verb.text %>
                                        </td>
                                        <td class="base--td">
                                            <% if(item.action.lemmatized){ %>
                                                <%= item.action.lemmatized %>
                                                    <% } %>
                                        </td>
                                        <td class="base--td">
                                            <%= item.action.text %>
                                        </td>
                                        <td class="base--td">
                                            <%= item.action.verb.tense %>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <% } %>

                                <% if(item.object){ %>
                                    <% if(item.subject){ %>
                                        <% if(item.object.entities){ %>
                                            <% if(item.subject.entities){ %>
                                                <h3 class="base--h3 relations-headline">Relational Entities</h3>
                                                <table class="base--table nested-relations">
                                                    <thead class="base--thead">
                                                        <tr class="base--tr">
                                                            <td class="base--td">Entity</td>
                                                            <td class="base--td">Type</td>
                                                            <td class="base--td">Speach Part</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <% _.each(item.subject.entities, function(subjectentities, key, list) { %>
                                                            <tr class="base--tr">
                                                                <td class="base--td">
                                                                    <%= subjectentities.text %>
                                                                </td>
                                                                <td class="base--td">
                                                                    <%= subjectentities.type %>

                                                                </td>
                                                                <td class="base--td">
                                                                    subject
                                                                </td>
                                                            </tr>
                                                            <% }); %>

                                                                <% _.each(item.object.entities, function(objectentities, key, list) { %>
                                                                    <tr class="base--tr">
                                                                        <td class="base--td">
                                                                            <%= objectentities.text %>
                                                                        </td>
                                                                        <td class="base--td">
                                                                            <%= objectentities.type %>
                                                                        </td>
                                                                        <td class="base--td">
                                                                            object
                                                                        </td>
                                                                    </tr>
                                                                    <% }); %>

                                                    </tbody>
                                                </table>
                                                <% } %>
                                                    <% } %>
                                                        <% } %>
                                                            <% } %>
                    </div>

                </div>
                <% }); %>
        </script>

        <script type="text/html" id="authorsTemplate">
            <% _.each(items, function(item, key, list) { %>
                <tr class="base--tr">
                    <td class="base--td">
                        <%= item %>
                    </td>
                </tr>
                <% }); %>
        </script>

        <script type="text/html" id="textTemplate">
            <tr class="base--tr">
                <td class="base--td">
                    <%= items.text %>
                </td>

            </tr>
        </script>
        <script type="text/html" id="dateTemplate">
            <tr class="base--tr">
                <td class="base--td">
                    <%= item.date.substring(0,8) %>
                </td>
            </tr>
        </script>
        <script type="text/html" id="languageTemplate">
            <tr class="base--tr">
                <td class="base--td">
                    <%= item.language %>
                </td>
                <td class="base--td">
                    <%= item['native-speakers'] %>
                </td>
                <td class="base--td">
                    <a class="base--a" href="<%= item.ethnologue %>">Ethnologue</a>
                </td>
                <td class="base--td">
                    <a class="base--a" href="<%= item.wikipedia %>">Wikipedia</a>
                </td>
            </tr>
        </script>
        <script type="text/html" id="targetedsentimentTemplate">
            <% _.each(items, function(item, key, list) { %>
                <tr class="base--tr targetsentiment">
                    <td class="base--td">
                        <%= item.text %>
                    </td>
                    <td class="base--td">
                        <%=item.sentiment.type %>
                    </td>
                    <td class="base--td">
                        <%=item.sentiment.score %>
                    </td>
                </tr>
                <% }); %>
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
        <script type="text/javascript" src="js/demo.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '<$= locals.ga $>', 'auto');
          ga('send', 'pageview');

        </script>

</body>

</html>
